version: "3.9"
services:
  fluentd:
    build:
      context: ./dev/fluentd
      dockerfile: Dockerfile
    depends_on:
      - elasticsearch
    ports:
      - "24224:24224"
      - "24224:24224/udp"
    container_name: fluentd
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.13.1
    environment:
      - "discovery.type=single-node"
    expose:
      - "9200"
    ports:
      - "9200:9200"
    container_name: elasticsearch
  kibana:
    image: docker.elastic.co/kibana/kibana:7.13.1
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    container_name: kibana
  python:
    build:
      context: ./dev/python
      dockerfile: Dockerfile
    depends_on:
      - fluentd
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app
    command: flask run --host=0.0.0.0
    container_name: python
